.about-me{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-container{
    width: 148px;
    height: 148px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-bottom: 15px;
}
.about-me__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-info {
    line-height: 44px;
    letter-spacing: 0.2px;
    font-size: 42px;
    color: var(--item-title-color);
    font-weight: lighter;
}

.user-description {
    line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: var(--item-title-color);
    font-weight: 400;
    margin-top: 15px;
}

.user-links__container {
    margin: 25px 0;
    display: flex;
    column-gap: 20px;
}

.user-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--bg-item);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.fa-brands{
    font-size: 21px;
    color: #fefefe;
}
.ink{
    position: absolute;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    transform: scale(0);
    width: 2px;
    height: 2px;
}
.animate {
    animation: ripple .6s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(40);
    }

}

.user-container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-container > .user-link{
    width: 52px;
    height: 52px;
    color: var(--bg-item);
    background: #fefefe;
    position: absolute;
    right: 0;
}
.about-me-description__container{
    width: 100%;
    padding: 25px;
    position: relative;
    background: #fefefe;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.row{
    display: flex;
    column-gap: 20px;
}
.fb-40{
    flex-basis: 40%;
}
.fb-60{
    flex-basis: 60%;
}
.fb-50{
    flex-basis: 50%;
}
.text-box{
    row-gap: 10px;
}
.text-box p{
    line-height: 25px;
}
.text-box p:first-child{
    font-weight: 500;
    color: #363636;
    font-size: 16px;
}
.flex-column,.text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}
.bts{
    display: flex;
    column-gap: 20px;
}
