.container {
    max-width: 1120px;
    margin: 240px auto 0;
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 78px;
}

@media (max-width: 720px) {
    .container {
        margin: 124px auto 0;
    }

    .about-me-description__container .row {
        flex-direction: column;
        row-gap: 20px;
    }

    .skills__container > .row {
        flex-direction: column;
        row-gap: 50px;
    }

    .experience-timeline.row {
        margin-top: 0;
    }
    .experience-timeline{
        padding-left: 72px;
    }
    .experience-card:before{
        display: none;
    }
}