.btn{
    line-height: 42px;
    padding: 0 30px;
    color: var(--item-title-color);
    font-size: 14px;
    background: var(--btn-bg);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.btn-blue{
    background: var(--bg-item);
    color: var(--btn-color);
}