.overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 56, 56, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
}
.modal{
    max-width: 50%;
   /* border-radius: 10px;*/
    position: relative;
    /*padding: 25px 15px 15px;
    background-color: #fff;*/
}
.close{
    position: absolute;
    cursor: pointer;
    z-index: 99;
    color: var(--modal-close-color);
    background: var(--btn-color);
    width: 44px;
    height: 44px;
    line-height: 44px;
    right: 0;
    top: 0;
    font-size: 28px;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) {
    .modal{
        max-width: 90%;
    }
}