header{
    position: relative;
    z-index: 101;
}
.top-menu{
    position: fixed;
    top: 0;
    right:0;
    width: 300px;
    height: 100vh;
    background: var(--bg-item);
    transition: all .6s;
    transform: translateX(300px);
}
.top-menu ul li a.user-link{
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    color: var(--btn-color);
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}
.top-menu ul li a.user-link .ink{
    width: 20px;
    height: 20px;
}
.top-menu ul li a.user-link.active{
    background: var(--item-active);
}
.top-menu ul li{
    height: 57px;
}
.menu-btn{
    position: fixed;
    top: 0;
    right: 300px;
    height: 57px;
    width: 57px;
    background: var(--bg-item);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--btn-color);
}
.menu-active{
    transform: translateX(0px);
}